* {
  font-family: 'Open Sans', sans-serif;
  /* border: 1px solid red; */
}

body {
  background-color: rgb(0, 0, 59);
}

.container {
  border: 2px solid rgb(0, 0, 199);
  border-radius: 12px;
  padding: 2rem;
}

.col-md-6 {
  background-color: rgb(190, 190, 255);
  border-radius: 6px;
  border-color: rgb(0, 0, 199);
  border-width: 3px;
  border-style: solid;
  padding: 1rem;
}

#balance-container {
  background-color: rgb(190, 190, 255);
  border-radius: 6px;
  border-color: rgb(0, 0, 199);
  border-width: 3px;
  border-style: solid;
  min-height: 2rem;
  /* float: right; */
  padding: 1rem;
  font-family: 'Roboto Mono', monospace;
}

form {
  padding: 1rem;
}

input {
  margin-bottom: 2rem;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 199);
  background-color: aliceblue;
}
header {
  margin-bottom: 2rem;
  padding: 2rem;
  /* border-bottom: 2px solid rgb(0, 0, 199); */
  color: aliceblue;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.negative-balance {
  color: red;
}

.positive-balance {
  color: green;
}

button {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: aliceblue;
}

button:hover {
  background-color: rgb(189, 212, 233);
}

button:active {
  background-color: rgb(143, 174, 202);
}

label {
  font-size: 0.8rem;
}

.title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  text-transform: uppercase;
  /* padding: 0.2rem; */
}

.light-text {
  color: aliceblue;
}
